@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@300&display=swap");

$view-point: 1920;
$light: 300;
$regular: 400;
$regular: 400;
$medium: 500;
$point-color: #ff6514;

/* dlt */
// .dlt {
//   // display: none;
//   position: absolute;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: -10;
//   img {
//     display: block;
//     margin: 0 auto;
//   }
// }
// .body {
//   opacity: 0.5;
//   position: relative;
// }
// .main {
//   position: relative;
// }
/* //dlt */

/* S:skip-nav */
.skip-nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  &__button {
    line-height: 0.5;
    text-align: center;
    color: #fff;
    display: block;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    background: $point-color;
    &:hover,
    &:focus,
    &:active {
      width: 100%;
      height: 10px;
      margin: 0px;
      padding: 10px 0;
      clip: auto;
      -webkit-clip-path: inset(0%);
      clip-path: inset(0%);
    }
  }
}
/* E:skip-nav */

/* S:common */
.main {
  width: 100%;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;

  &-image {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  a {
    display: block;
  }

  sup {
    position: relative;
    top: 0.4em;
  }

  .blind {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
  }

  /* E:common */

  /* S:header */
  .header {
    position: absolute;
    width: 100%;
    z-index: 100;

    &__inner {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  //top-area
  .top-area {
    display: flex;
    justify-content: space-between;

    margin-left: 169px;
    margin-right: 169px;
  }

  //language-box
  .language {
    &-box {
      margin-top: 15px;
    }

    &__select {
      display: inline-block;
      font-size: 15px;
      color: #fff;

      padding-right: 25px;
      margin-right: 140px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 14px;
        height: 8px;
        background: url(../images/drop_down_w.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        right: 2px;
        margin-top: -4px;
        filter: invert(1);
      }
    }

    &__list {
      display: none;
    }
  }

  //logo
  .logo {
    margin-top: 24px;

    &::before {
      content: "";
      display: block;
      width: 166px;
      height: 32px;
      background: url(../images/logo.png) no-repeat;
      background-size: cover;

      margin: 0 auto;
      position: relative;
      left: -2px;
    }
  }

  //service
  .service {
    &-box {
      display: flex;
      text-align: right;
      align-items: center;

      margin-left: 33px;
      margin-top: -1px;
    }

    &-text {
      color: #fff;
      font-weight: $regular;
      font-size: 15px;
      letter-spacing: -0.025em;
      padding-right: 16px;
      padding-left: 15px;

      position: relative;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 15px;
        background: #fff;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -8px;
      }
    }
  }

  //search
  .search {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background: url(../images/search.png) no-repeat;
    background-size: cover;
    filter: invert(1);
    margin-left: 17px;
  }

  //gnb
  .gnb {
    display: flex;
    justify-content: center;

    margin-top: 24px;

    &__menu {
      gap: 29px;
    }

    &__item {
      margin-right: 0px;
    }

    &-sub__item {
      display: none;
    }

    &-text {
      font-size: 17px;
      letter-spacing: -0.025em;
      font-weight: $regular;
      color: #fff;

      padding: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  /* E:header */

  /* S:visual */
  .visual {
    height: 100%;

    position: relative;
    display: flex;

    .main-image {
      img {
        width: 100%;
      }
    }

    &-box {
      position: relative;
      overflow: hidden;
    }

    &__item {
      position: relative;
      width: 100%;
      flex-shrink: 0;
      z-index: 0;
      transition: opacity 1s;
    }

    &-txt-box {
      text-align: left;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .inner {
        width: 1440px;
        margin: 0 auto 146px auto;
      }
    }

    &-txt {
      color: #fff;
      letter-spacing: -0.025em;
      text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
      &--en {
        font-family: "Roboto", sans-serif;
        font-weight: $light;
        font-size: 18px;
      }
      &--kr {
        font-weight: $medium;
        font-size: 36px;
        margin-top: 15px;
        margin-left: -4px;
      }
    }
  }

  //dock
  .dock {
    display: flex;
    align-items: center;

    width: 1440px;

    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -720px;
    margin-bottom: 80px;

    &-bar {
      width: 420px;
      height: 4px;
      background: rgba(255, 255, 255, 0.2);
      position: relative;

      &__stage {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 4px;
        background: rgba(255, 255, 255, 1);

        transition: all 0.5s;
      }
    }

    &-btn {
      margin-left: 14px;
      margin-bottom: 6px;
      box-sizing: border-box;

      &--auto {
        width: 8px;
        height: 12px;
        border: solid;
        border-top-width: 6px;
        border-right-width: 0px;
        border-bottom-width: 6px;
        border-left-width: 8px;
        border-color: transparent transparent transparent #fff;
        vertical-align: middle;
      }

      &--pause {
        width: 8px;
        height: 12px;
        border-style: double;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 8px;
        border-color: #ffffff;
        vertical-align: middle;
      }

      &.now {
        display: none;
      }
    }
  }

  //direction
  .direction {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 90;
    margin-top: -35px;
    display: flex;
    justify-content: space-between;
    &-btn {
      display: block;
      background: rgba(255, 255, 255, 0.4);
      width: 70px;
      height: 70px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 20px;
        background: url(../images/direction_left.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 25px;
        left: 29px;
      }
      &--right::before {
        background: url(../images/direction_right.png) no-repeat;
        background-size: cover;
      }
    }
  }

  /* E:visual */

  /* S:main-section common */
  &-section {
    position: relative;

    &__inner {
      max-width: 1440px;
      margin: 0 auto;
    }

    //title
    &__title {
      text-align: left;
      font-size: 28px;
      font-weight: $medium;
      letter-spacing: -0.025em;
      margin-top: 121px;
      margin-left: -1px;
    }

    // 제품 슬라이드
    .slide {
      position: relative;

      display: flex;

      &-box {
        position: relative;
        overflow: hidden;

        margin-top: 24px;
      }

      &__item {
        position: relative;
        flex-shrink: 0;
      }

      &-txt {
        letter-spacing: -0.025em;

        &--kr {
          font-size: 20px;
          font-weight: $medium;
          margin-top: 23px;
        }

        &--en {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: $light;
          color: #888888;
          margin-top: 6px;
        }

        &--price {
          font-size: 16px;
          font-weight: $regular;
          margin-top: 15px;
        }
      }
    }

    .dock {
      position: relative;
      width: 100%;
      left: 11px;
      bottom: 0;
      padding-left: 0;
      margin-top: 48px;
      margin-left: 0;
      align-items: center;
      justify-content: center;

      &-bar {
        background: #dddddd;

        &__stage {
          background: #000000;
        }
      }

      &-btn {
        &--auto {
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #888;
        }

        &--pause {
          border-color: transparent transparent transparent #888888;
        }
      }
    }

    //더보기
    .more-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 40px;
      border: 1px solid #000;
      border-width: 1px;
      text-align: center;
      box-sizing: border-box;
      margin-top: 26px;

      &-text {
        font-size: 14px;
        letter-spacing: -0.025em;
        color: #000000;
        font-weight: $regular;
      }
    }

    /* E:main-section common */

    /* S:recommond */
    &--recommond {
      .direction {
        margin-top: -166px;
      }
    }
    /* E:recommond */

    /* S:best */
    &--best {
      text-align: left;
      margin-top: 120px;

      .main-section__header {
        position: absolute;
        z-index: 10;
        margin-left: 170px;
      }

      .main-section__title {
        margin-top: 277px;
        font-size: 32px;
      }

      .main-section__desc {
        font-size: 18px;
        letter-spacing: -0.025em;
        line-height: calc(28 / 18);
        color: #666666;
        font-weight: $light;
        margin-top: 5px;
      }
    }
    /* E:best */

    /* S:season */
    &--season {
      .direction {
        margin-top: -39px;
      }

      .product {
        display: flex;
        gap: 24px;

        margin-top: 24px;

        &__item {
          position: relative;

          &--center {
            text-align: left;

            .product-txt {
              &-box {
                margin-bottom: 46px;
                margin-left: 59px;
              }

              &--kr {
                font-size: 24px;
              }
            }
          }
        }

        &-txt {
          &--kr {
            font-size: 20px;
            font-weight: $medium;
            margin-top: 23px;
          }

          &--en {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: $light;
            color: #888888;
            margin-top: 6px;
          }

          &-box {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            margin-bottom: 48px;
          }

          &--price {
            font-size: 16px;
            letter-spacing: -0.025em;
            color: #666666;
            line-height: calc(26 / 16);
            margin-top: 3px;
          }
        }
      }
    }
    /* E:season */

    /* S:service */
    &--service {
      margin-top: 120px;

      .gallery {
        &-txt {
          &--kr {
            font-size: 28px;
            letter-spacing: -0.025em;
            font-weight: $medium;
          }
        }
      }

      .more-btn {
        margin: 15px auto 0;
      }
    }
    /* E:service */

    /* S:width */
    &--with {
      margin-bottom: 108px;

      .direction {
        margin-top: -39px;
      }

      .slide {
        &__item {
          position: relative;

          overflow: hidden;
        }

        &-txt {
          &-box {
            position: absolute;
            height: 100px;
            bottom: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.85);
          }

          &__title {
            font-size: 14px;
            font-weight: $light;
            letter-spacing: -0.025em;
            margin-top: 25px;
            width: 322px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            padding-left: 10px;
            padding-right: 10px;
          }

          &__desc {
            font-size: 14px;
            font-weight: $light;
            letter-spacing: -0.025em;
            margin-top: 8px;
            width: 322px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }

      .main-image--icon {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
      }

      .dock {
        margin-bottom: 0;
      }
    }
    /* E:width */
  }
}
