@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@300&display=swap");

$view-point: 1920;
$light: 300;
$regular: 400;
$regular: 400;
$medium: 500;
$point-color: #ff6514;
