@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
/* skip-nav */
.skip-nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}
.skip-nav .skip-button {
  line-height: 0.5;
  text-align: center;
  color: #fff;
  display: block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  background: #ff6514;
}
.skip-nav .skip-button:hover, .skip-nav .skip-button:focus, .skip-nav .skip-button:active {
  width: 100%;
  height: 10px;
  margin: 0px;
  padding: 10px 0;
  clip: auto;
  -webkit-clip-path: inset(0%);
  clip-path: inset(0%);
}

/* //skip-nav */
.main-wrap {
  /* common */
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  /* header */
  /* //header */
  /* language */
  /* //language */
  /* //common */
}
.main-wrap .main-text--regular {
  font-weight: 400;
}
.main-wrap .display-flex {
  display: flex;
}
.main-wrap .display-flex--between {
  justify-content: space-between;
}
.main-wrap .direction {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.main-wrap .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.main-wrap .header__inner {
  max-width: 1440px;
  margin: 0 auto;
}
.main-wrap .header__button {
  color: #fff;
  letter-spacing: -0.025em;
  font-weight: 400;
}
.main-wrap .language__item {
  display: block;
  font-size: 0.938rem;
}