@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

$light: 300;
$regular: 400;
$regular: 400;
$medium: 500;
$point-color: #ff6514;
@function remove-unit($value) {
  @return ($value / ($value * 0 + 1));
}
@function rem($px, $base: 16) {
  @return (remove-unit($px / $base)) * 1rem;
}
/* dlt */
.dlt {
  // display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  img {
    display: block;
    margin: 0 auto;
  }
}
.body {
  opacity: 0.5;
  position: relative;
}
.container {
  position: relative;
}
/* //dlt */

/* skip-nav */
.skip-nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}
.skip-button {
  line-height: 0.5;
  text-align: center;
  color: #fff;
  display: block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  background: $point-color;
  &:hover,
  &:focus,
  &:active {
    width: 100%;
    height: 10px;
    margin: 0px;
    padding: 10px 0;
    clip: auto;
    -webkit-clip-path: inset(0%);
    clip-path: inset(0%);
  }
}
/* //skip-nav */

/* common */
.main-wrap {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000;
}
.main-image {
  img {
    display: block;
    margin: 0 auto;
  }
}
a {
  display: block;
}
.blind {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
.main-text--regular {
  font-weight: $regular;
}
.display-flex {
  display: flex;
  &--between {
    justify-content: space-between;
  }
  &--around {
    justify-content: space-around;
  }
}
/* //common */

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  &__inner {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.header__button {
  color: #fff;
  letter-spacing: -0.025em;
  font-weight: $regular;
}
.header__first {
  margin-left: rem(170px);
  margin-right: rem(170px);
}

/* language */
.language__item {
  display: block;
  font-size: 0.938rem;
  padding-right: rem(25px);
  &.click {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 8px;
      background: url(../images/drop_down_w.png) no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -3px;
    }
  }
}
/* //language */

/* header__first */
.header__first {
  margin-top: rem(16px);
}
/* //header__first */

/* header__logo */
.header__logo {
  margin-top: rem(8px);
  margin-left: rem(108px);
}
/* //header__logo */

/* header__service */
.header__service {
  text-align: right;
}
.service__item {
  font-weight: $regular;
  font-size: 0.938rem;
  letter-spacing: -0.025em;
  padding-left: rem(16px);
  &:not(.service__item--search) {
    padding-right: rem(16px);
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 1px;
      height: 15px;
      background: #fff;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -8px;
    }
  }
}
.service__item--search {
  margin-top: rem(3px);
}
/* //header__service */

/* nav */
.nav {
  margin-top: rem(24px);
  margin-left: rem(368px);
  margin-right: rem(367px);
  .nav__sub-menu {
    display: none;
  }
}
.nav__button {
  font-size: rem(17px);
  letter-spacing: -0.025em;
  font-weight: $regular;
  padding: rem(10px) rem(10px);
}
/* //nav */
/* //header */

/* visual */
.main-visual {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  opacity: 0.5;
}
.visual__content {
  z-index: 10;
  img {
    width: 100%;
  }
}
.direction {
  position: absolute;
  width: 100%;
  top: 21%;
  left: 0;
  z-index: 90;
  &__button {
    display: block;
    background: rgba(255, 255, 255, 0.4);
    width: rem(70px);
    height: rem(70px);
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 20px;
      background: url(../images/direction_left.png) no-repeat;
      background-size: cover;
    }
    &--right::before {
      background: url(../images/direction_right.png) no-repeat;
      background-size: cover;
    }
  }
}
/* //visual */
